<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.hk.pilot.mapper.AdminMapper">
	<select id="userUpdateGet" resultType="com.hk.pilot.dto.UserInfo">
		SELECT * FROM (SELECT m.id, m.NAME , m.EMAIL , m.PNUM , m.USERZIPCODE , m.CARDCHECK , m.LIKESTORE1 , m.LIKESTORE2 
		, m.LIKESTORE3 , m.USERFIRSTADDR , m.USERSECONDADDR , USEREXTRAADDR 
		, p.CARDCOM , p.CARDCVC , p.CARDEXP ,p.CARDNUM , b.BUBBLE FROM MEMBERS m ,PERSONALPAY p,BUBBLE b  WHERE m.id=p.ID(+) AND m.id=b.ID(+) AND m.id=#{id} ORDER BY rownum DESC) 
		WHERE rownum=1
	</select>
	
	<update id="userUpdatePost1">
		UPDATE MEMBERS SET NAME=#{name}, PNUM=#{pnum}, USERZIPCODE=#{userZipCode}, CARDCHECK=#{cardCheck}, USERFIRSTADDR=#{userFirstAddr}, USERSECONDADDR=#{userSecondAddr}, USEREXTRAADDR=#{userExtraAddr}, EMAIL=#{email} WHERE ID=#{id}
	</update>
	
	<update id="userUpdatePost2">
		UPDATE PERSONALPAY SET CARDCOM=#{cardCom}, CARDNUM=#{cardNum}, CARDEXP=#{cardExp}, CARDCVC=#{cardCvc} WHERE ID=#{id}
	</update>
	
	<insert id="userInsertPost2">
		INSERT INTO PERSONALPAY (ID, CARDCOM, CARDNUM, CARDEXP, CARDCVC) VALUES(#{id},#{cardCom} ,#{cardNum},#{cardExp}, #{cardCvc})
	</insert>
	
	<select id="managerUpdateGet1" resultType="com.hk.pilot.dto.Members">
		select * from members where id=#{id}
	</select>
	
	<select id="managerUpdateGet2" resultType="com.hk.pilot.dto.Stores">
		select * from stores where id=#{id}
	</select>
	
	<update id="managerUpdatePost">
		UPDATE MEMBERS SET EMAIL=#{email}, NAME=#{name}, PNUM=#{pnum}, USERZIPCODE=#{userZipCode}, CARDCHECK='N', UDCHECK='N',GRADE='2', USERFIRSTADDR=#{userFirstAddr},USERSECONDADDR=#{userSecondAddr}, USEREXTRAADDR=#{userExtraAddr} WHERE ID=#{id}
	</update>
	
	<select id="storeList" resultType="com.hk.pilot.dto.Stores">
		SELECT ID, SNAME, SCONTACT, SNUM, BANK, BNUM, PERMIT, S_DATE, SDCHECK, AREA_NUM, STOREFIRSTADDR, STORESECONDADDR, STOREEXTRAADDR, STOREZIPCODE, SP1, SP2, SP3, SP4 FROM STORES where SDCHECK='N' 
	</select>
	
	<select id="storeUpdateGet" resultType="com.hk.pilot.dto.StoreInfo">
		 SELECT s.ID , s.SNAME , s.SCONTACT , s.SNUM , s.BANK , s.BNUM , s.PERMIT , s.S_DATE , s.SDCHECK , s.AREA_NUM , s.STOREFIRSTADDR ,s.STORESECONDADDR ,s.STOREEXTRAADDR ,s.STOREZIPCODE , sp1,sp2,sp3,sp4, i.ITEMS , i.Y1 ,i.B1 
		, i.T1 , i.M1 , i.P1 , i.K1 , i.J1 ,i.C1 , i.P2 , i.D1 ,i.S1 ,i.C2 ,i.B2 FROM STORES s , ITEMLIST i WHERE s.SNUM =i.SNUM AND s.SNUM =#{snum}
	</select>
	
	<update id="storeUpdatePost1" parameterType="com.hk.pilot.dto.StoreInfo">
		UPDATE STORES SET ID=#{id}, SNAME=#{sname}, SCONTACT=#{scontact}, BANK=#{bank}, 
		BNUM=#{bnum}, PERMIT=#{permit}, 
		AREA_NUM=#{area_num}, STOREFIRSTADDR=#{storeFirstAddr},STORESECONDADDR=#{storeSecondAddr}, STOREEXTRAADDR=#{storeExtraAddr}, 
		STOREZIPCODE=#{storeZipCode}
		<if test='sp1 != null'>
			, SP1=#{sp1}
		</if>
		<if test='sp2 != null'>
			, SP2=#{sp2}
		</if>
		<if test='sp3 != null'>
			, SP3=#{sp3}
		</if>
		<if test='sp1 != null'>
			, SP4=#{sp4}
		</if>
		 WHERE SNUM=#{snum}
	</update>
	
	<update id="storeUpdatePost2" parameterType="com.hk.pilot.dto.StoreInfo">
		UPDATE ITEMLIST SET ITEMS=#{items}, Y1=#{Y1}, B1=#{B1}, T1=#{T1}, M1=#{M1}, P1=#{P1},
		K1=#{K1}, J1=#{J1}, C1=#{C1}, P2=#{P2}, D1=#{D1}, S1=#{S1}, C2=#{C2}, B2=#{B2} WHERE SNUM=#{snum}
	</update>
	
	<select id="mapLoad" resultType="com.hk.pilot.dto.MapData">
		select * from MAPDATA
	</select>
	
	<select id="itemsPriceGet" resultType="com.hk.pilot.dto.Price">
		SELECT Y1P, B1P, T1P, M1P, P1P, K1P, J1P, C1P, P2P, D1P, S1P, C2P, B2P, P_SEQ, P_DATE FROM (select * from price order by p_seq desc) WHERE rownum=1
	</select>
	
	<insert id="itemsPricePost">
		<selectKey keyProperty="seq" order="BEFORE" resultType="long">
			select max(p_seq) from price
		</selectKey>
		INSERT INTO PRICE (Y1P, B1P, T1P, M1P, P1P, K1P, J1P, C1P, P2P, D1P, S1P, C2P, B2P, P_SEQ, P_DATE) 
		VALUES(#{Y1P}, #{B1P}, #{T1P}, #{M1P}, #{P1P}, #{K1P}, #{J1P}, #{C1P}, #{P2P},#{D1P}, #{S1P}, #{C2P}, #{B2P},#{seq}+1, sysdate )
	</insert>
	
	
</mapper>