<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.hk.pilot.mapper.AdminMapper">
	<select id="userUpdateGet" resultType="com.hk.pilot.dto.UserInfo">
		SELECT * FROM (SELECT m.id, m.NAME , m.EMAIL , m.PNUM , m.USERZIPCODE , m.CARDCHECK , m.LIKESTORE1 , m.LIKESTORE2 
		, m.LIKESTORE3 , m.USERFIRSTADDR , m.USERSECONDADDR , USEREXTRAADDR 
		, p.CARDCOM , p.CARDCVC , p.CARDEXP ,p.CARDNUM , b.BUBBLE FROM MEMBERS m ,PERSONALPAY p,BUBBLE b  WHERE m.id=p.ID(+) AND m.id=b.ID(+) AND m.id=#{id} ORDER BY rownum DESC) 
		WHERE rownum=1
	</select>
	
	<update id="userUpdatePost1">
		UPDATE MEMBERS SET NAME=#{name}, PNUM=#{pnum}, USERZIPCODE=#{userZipCode}, CARDCHECK=#{cardCheck}, USERFIRSTADDR=#{userFirstAddr}, USERSECONDADDR=#{userSecondAddr}, USEREXTRAADDR=#{userExtraAddr}, EMAIL=#{email} WHERE ID=#{id}
	</update>
	
	<update id="userUpdatePost2">
		UPDATE PERSONALPAY SET CARDCOM=#{cardCom}, CARDNUM=#{cardNum}, CARDEXP=#{cardExp}, CARDCVC=#{cardCvc} WHERE ID=#{id}
	</update>
	
	<insert id="userInsertPost2">
		INSERT INTO PERSONALPAY (ID, CARDCOM, CARDNUM, CARDEXP, CARDCVC) VALUES(#{id},#{cardCom} ,#{cardNum},#{cardExp}, #{cardCvc})
	</insert>
	
	<select id="managerUpdateGet1" resultType="com.hk.pilot.dto.Members">
		select * from members where id=#{id}
	</select>
	
	<select id="managerUpdateGet2" resultType="com.hk.pilot.dto.Stores">
		select * from stores where id=#{id}
	</select>
	
	<update id="managerUpdatePost">
		UPDATE MEMBERS SET EMAIL=#{email}, NAME=#{name}, PNUM=#{pnum}, USERZIPCODE=#{userZipCode}, CARDCHECK='N', UDCHECK='N',GRADE='2', USERFIRSTADDR=#{userFirstAddr},USERSECONDADDR=#{userSecondAddr}, USEREXTRAADDR=#{userExtraAddr} WHERE ID=#{id}
	</update>
	
	<select id="storeList" resultType="com.hk.pilot.dto.Stores">
		SELECT ID, SNAME, SCONTACT, SNUM, BANK, BNUM, PERMIT, S_DATE, SDCHECK, AREA_NUM, STOREFIRSTADDR, STORESECONDADDR, STOREEXTRAADDR, STOREZIPCODE, SP1, SP2, SP3, SP4 FROM STORES where SDCHECK='N' 
	</select>
	
	<select id="storeUpdateGet" resultType="com.hk.pilot.dto.StoreInfo">
		 SELECT s.ID , s.SNAME , s.SCONTACT , s.SNUM , s.BANK , s.BNUM , s.PERMIT , s.S_DATE , s.SDCHECK , s.AREA_NUM , s.STOREFIRSTADDR ,s.STORESECONDADDR ,s.STOREEXTRAADDR ,s.STOREZIPCODE , sp1,sp2,sp3,sp4, i.ITEMS , i.Y1 ,i.B1 
		, i.T1 , i.M1 , i.P1 , i.K1 , i.J1 ,i.C1 , i.P2 , i.D1 ,i.S1 ,i.C2 ,i.B2 FROM STORES s , ITEMLIST i WHERE s.SNUM =i.SNUM AND s.SNUM =#{snum}
	</select>
	
	<update id="storeUpdatePost1" parameterType="com.hk.pilot.dto.StoreInfo">
		UPDATE STORES SET ID=#{id}, SNAME=#{sname}, SCONTACT=#{scontact}, BANK=#{bank}, 
		BNUM=#{bnum}, PERMIT=#{permit}, 
		AREA_NUM=#{area_num}, STOREFIRSTADDR=#{storeFirstAddr},STORESECONDADDR=#{storeSecondAddr}, STOREEXTRAADDR=#{storeExtraAddr}, 
		STOREZIPCODE=#{storeZipCode}
		<if test='sp1 != null'>
			, SP1=#{sp1}
		</if>
		<if test='sp2 != null'>
			, SP2=#{sp2}
		</if>
		<if test='sp3 != null'>
			, SP3=#{sp3}
		</if>
		<if test='sp1 != null'>
			, SP4=#{sp4}
		</if>
		 WHERE SNUM=#{snum}
	</update>
	
	<update id="storeUpdatePost2" parameterType="com.hk.pilot.dto.StoreInfo">
		UPDATE ITEMLIST SET ITEMS=#{items}, Y1=#{Y1}, B1=#{B1}, T1=#{T1}, M1=#{M1}, P1=#{P1},
		K1=#{K1}, J1=#{J1}, C1=#{C1}, P2=#{P2}, D1=#{D1}, S1=#{S1}, C2=#{C2}, B2=#{B2} WHERE SNUM=#{snum}
	</update>
	
	<select id="mapLoad" resultType="com.hk.pilot.dto.MapData">
		select * from MAPDATA
	</select>
	
	<select id="itemsPriceGet" resultType="com.hk.pilot.dto.Price">
		SELECT Y1P, B1P, T1P, M1P, P1P, K1P, J1P, C1P, P2P, D1P, S1P, C2P, B2P, P_SEQ, P_DATE FROM (select * from price order by p_seq desc) WHERE rownum=1
	</select>
	
	<insert id="itemsPricePost">
<!-- 		<selectKey keyProperty="abc" order="BEFORE" resultType="int"> -->
<!-- 			select MAX(p_seq)+1 from price -->
<!-- 		</selectKey> -->
		INSERT INTO PRICE (Y1P, B1P, T1P, M1P, P1P, K1P, J1P, C1P, P2P, D1P, S1P, C2P, B2P, P_SEQ, P_DATE) 
		VALUES(#{Y1P}, #{B1P}, #{T1P}, #{M1P}, #{P1P}, #{K1P}, #{J1P}, #{C1P}, #{P2P},#{D1P}, #{S1P}, #{C2P}, #{B2P},#{p_seq}+1, sysdate )
	</insert>
	
	<select id="chartData" resultType="com.hk.pilot.dto.StatisticDay">
		SELECT CDAY, OQ,OP FROM STATISTIC s WHERE snum='13131313'
	</select>
	
	<!-- 게시물 작성 -->
	
	<insert id="write">

		INSERT INTO CHAT (W_ID, C_NO, C_DATE, C_CONTENT,
		G_CHECK,
		C_TITLE)
		VALUES(#{w_id}, CHAT_seq.nextval, sysdate,
		#{c_content} , #{g_check},
		#{c_title} )

	</insert>
	
	
	<!-- 게시글 목록 -->
	<select id="list" resultType="com.hk.pilot.dto.Chat"
		parameterType="com.hk.pilot.dto.Criteria">
		SELECT w_id, c_no, c_date, c_content, c_title, g_check
		FROM
		(SELECT w_id,
		c_no, c_date, c_content, c_title, g_check,
		row_number()
		over(ORDER
		BY c_no DESC) as rnum FROM chat) WHERE rnum
		BETWEEN #{rowStart} AND
		#{rowEnd}
		ORDER BY c_no DESC
	</select>

	<!-- 게시글 총 개수 -->
	<select id="listCount"
		parameterType="com.hk.pilot.dto.SearchCriteria" resultType="int">

		SELECT COUNT(c_no)
		FROM CHAT
		WHERE 1 = 1
		<include refid="search"></include>
		And c_no > 0
	</select>

	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND TITLE LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND CONTENT LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND WRITER LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND (TITLE LIKE '%' || #{keyword} || '%') or (CONTENT
				LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql>

	<!-- 게시글 상세조회 -->

	<select id="selectOne" parameterType="int"
		resultType="com.hk.pilot.dto.Chat">

		SELECT w_id, c_no, c_date, c_content, c_title, g_check FROM
		CHAT
		where c_no = #{c_no}

	</select>

	<!-- 게시글 수정 -->
	<update id="update" parameterType="com.hk.pilot.dto.Chat">

		UPDATE CHAT SET W_ID=#{w_id},
		g_CHECK=#{g_check},
		C_CONTENT=#{c_content}, C_TITLE=#{c_title} WHERE
		C_NO= #{c_no}

	</update>

	<!-- 게시글 삭제 -->

	<delete id="delete" parameterType="int">

		DELETE FROM CHAT WHERE c_no =
		#{c_no}

	</delete>

	<!-- 댓글 조회하기 1009 새로 추가 -->
	<select id="readComment"
		resultType="com.hk.pilot.dto.ChatComment">

		SELECT com_no, com_content, r_id,
		com_date FROM CHATCOMMENT
		WHERE c_no =#{c_no}

	</select>

	<insert id="writeComment">
		INSERT INTO CHATCOMMENT(
		C_NO
		, COM_NO
		, COM_CONTENT
		,
		R_ID
		)
		VALUES( #{c_no}
		, CHATCOMMENT_SEQ.NEXTVAL
		, #{com_content}
		, #{r_id}
		)
	</insert>
	
	<select id="memberList" resultType="com.hk.pilot.dto.Members">
		SELECT * FROM MEMBERS
	</select>

	<select id="selectMemberOne"
		resultType="com.hk.pilot.dto.Members">
		SELECT * FROM MEMBERS WHERE ID=#{ID}
	</select>


</mapper>