<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.hk.pilot.mapper.UserMapper">

<select id="selectUserOne" resultType="com.hk.pilot.dto.Members">
<!-- 	SELECT m.id,pwd,name,cardcom FROM MEMBERS m,personalpay p WHERE m.ID=p.id AND m.id=#{id} -->
	SELECT * from members where id=#{id} 
</select>

<select id="selectUserPay" resultType="com.hk.pilot.dto.PersonalPay">
<!-- 	SELECT m.id,pwd,name,cardcom FROM MEMBERS m,personalpay p WHERE m.ID=p.id AND m.id=#{id} -->
	SELECT * from personalPay where id=#{id} 
</select>

<update id="userUpdate" parameterType="com.hk.pilot.dto.UserInfo">
		update members set pwd=#{pwd},name=#{name},email=#{email},pnum=#{pnum},userZipCode=#{userZipCode},
		userFirstAddr=#{userFirstAddr},userSecondAddr=#{userSecondAddr},userExtraAddr=#{userExtraAddr}
		where id = #{id}
</update>
<update id="payUpdate" parameterType="com.hk.pilot.dto.UserInfo">
	update personalpay set cardcom=#{cardCom} ,cardnum=#{cardNum},cardexp=#{cardExp},cardcvc=#{cardCvc} where id =#{id}

</update>

<select id="deleteUserOne" resultType="com.hk.pilot.dto.Members" >
SELECT * FROM MEMBERS WHERE ID=#{ID}
</select>


	<update id="userDeleterPost" parameterType="String">
		UPDATE MEMBERS SET UDCHECK='Y' where ID=#{id}
	</update>

<select id="bubbleList" resultType="com.hk.pilot.dto.Bubble">

	select m.id,b_price,bubble,b_date,p_bubble,b_bubble,b_seq from members m,bubble b where m.id=b.id and m.id=#{id}

</select>

<select id="orderList" resultType="com.hk.pilot.dto.OrderList">
 	select m.id,ordernum from members m,orderlist o where m.id=o.id and m.id=#{id}

</select>

<select id="myOrderList" resultType="com.hk.pilot.dto.OrderProcess">
  select o.id,o.ordernum,sname,items,pay_price,pay_date,wait,ok,pick,wash,finish from orderlist o,process p where o.ordernum=p.ordernum and o.ordernum=#{orderNum}
</select>
</mapper>